@font-face {
	font-family: 'Determination';
	src: url('../fonts/Determination.woff2') format('woff2'),
		 url('../fonts/Determination.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

body {
	background-color: black;
	text-align: center;
}

p {
	color: white;
	font-family: Determination;
}